@import '../../app/variables.scss';

.btn {
    min-height: 56px;
    background-color: unset;
    border: 2px solid $btn-default;

    display: flex;
    justify-content: center;
    align-items: center;
    color: $font-color-main;
    text-decoration: none;

    &:hover {
        background-color: $btn-hover;
        border: 1px solid black;
    }
}
