// Colors
$test-color: red;

//breakpoints
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1636px;

// spacings
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;

:export {
    // colors
    testColor: $test-color;

    //breakpoints
    sm: $sm;
    md: $md;
    lg: $lg;
    xl: $xl;

    //spacings
    spacing1: $spacing-1;
    spacing2: $spacing-2;
    spacing3: $spacing-3;
    spacing4: $spacing-4;
    spacing5: $spacing-5;
    spacing6: $spacing-6;
}
