// colors
$footer-color: #245406;
$bg-color: #edfbdb;
$gray-500: #5e6063;
$btn-default: #ffbc0f;
$btn-hover: #96a300;

// font colors
$font-color-main: #000;
$font-color-contrast: #fff;

//breakpoints
$xs: 0px;
$sm: 600px;
$md: 900px;
$lg: 1200px;
$xl: 1536px;

// spacings
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 24px;
$spacing-4: 32px;
$spacing-5: 40px;
$spacing-6: 48px;

:export {
    // colors
    footerColor: $footer-color;
    bgColor: $bg-color;
    gray500: $gray-500;
    btnDefault: $btn-default;

    // font colors
    fontColorMain: $font-color-main;
    fontColorContrast: $font-color-contrast;

    //breakpoints
    sm: $sm;
    md: $md;
    lg: $lg;
    xl: $xl;

    //spacings
    spacing1: $spacing-1;
    spacing2: $spacing-2;
    spacing3: $spacing-3;
    spacing4: $spacing-4;
    spacing5: $spacing-5;
    spacing6: $spacing-6;
}
