@import '../../app/variables.scss';

.link {
    &.main {
        color: $font-color-main;
        &:hover {
            color: $link-color-main; // need to approve color
        }
    }
    &.contrast {
        color: $font-color-contrast;
        &:hover {
            color: $link-color-contrast; // need to approve color
        }
    }
}
