@import '../../app/variables.scss';

.life__card {
    display: grid;
    grid-template-rows: 1fr auto 1fr auto;
    gap: $spacing-3;
    text-align: center;

    h4 {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
        line-height: 1;
        margin: 0;
        font-weight: 400;
    }

    p {
        line-height: 1;
        margin: 0;
    }
}

.life__img {
    position: relative;
    height: 176px;
}
