@import '../../app/variables.scss';

.footer {
    background-color: $footer-color;
    color: $font-color-contrast;
    padding: $spacing-3 0;
}

.wrapper {
    display: flex;
    padding: 0 $spacing-1;
    gap: $spacing-2;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.copyright {
    flex-grow: 1;
}

.contacts {
    display: flex;
    gap: $spacing-2;

    div {
        display: flex;
        align-items: center;
    }

    span {
        margin-right: $spacing-1;
    }
}

@media (max-width: $md) {
    .wrapper {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: $sm) {
    .contacts {
        flex-direction: column;
        align-items: center;

        div {
            align-items: flex-start;
        }
    }
}
