@import './../variables.scss';

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.life {
    width: 100%;
    padding: $spacing-2;
    display: block;
    gap: $spacing-3;
}

.life__btn {
    // grid-column: 2;
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: $md) {
    .life {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .life__btn {
        grid-column: 1/3;
    }
}

@media (max-width: $sm) {
    .life {
        grid-template-columns: 1fr;
    }

    .life__btn {
        grid-column: 1/1;
    }
}