@import '../../app/variables.scss';

.btn {
    padding: $spacing-1 $spacing-3;
    background-color: $btn-default;
    border: 2px solid $btn-default;

    &:hover {
        background-color: unset;
        border: 2px solid $btn-default;
    }
}
